*{
    box-sizing: border-box;

}
.main{
    width: 512px;
    height: 384px;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    padding:0 12px;
    text-align: center;
}
body>*:not(.menu){
    border: 1px solid darkgray;
}
.top{
    width: 100%;
    height: 29px;
}
.menu{
  width: 100%;
  height:32px;
  line-height: 25px;
}
#size{
    width: 60px;
    height: 100%;
}
#shape{
    width: 247px;
    height: 100%;
}
#character{
    height: 100%;
}
.content{
    width: 100%;
    height: calc(100% - 29px - 32px);
}